.prestationsCards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    width: 90%;
    margin-left: 5%;
}

.cartePrestation{
    height: 70vh;
    width: 50vh;
    border-radius: 50px;
    border: double 4px transparent;
    background-image: linear-gradient(#D9D9D9,#D9D9D9), linear-gradient(to bottom, blue,white,red);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.premium{
    background-color: black;
    background-image: linear-gradient(black,black), linear-gradient(to bottom, blue,white,red);

}
.title{
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25%;
    color: #313131;
    font-size: 4vh;
    padding-right: 5vh;
}

.presentationText {
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 21vh;
    height: 45vh;
    font-size: 24px;
    text-align: center;
}

.premiumText {
    color: #D4AF37;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vh;
    height: 50vh;
}

.premiumTitle{
    color: #D4AF37;
}

.icon{
    margin-left: 5vh;
}


.tarifs{
    height: 130vh;
    width: 90%;
    margin-left: 5%;
    color: white;
}

.titleTarifs{
    font-size: 6rem;
    text-transform: uppercase;
}


.tarifsCheveux,.tarifsBarbe,.tarifsSpecial{
    margin-left: 15vw;
    margin-bottom: 5vh;
    font-size: 3vh;
}

.tarifsCheveux{
    width: 70vw;
}

.tarifsOther{
    width: 50vw;
}

.allUnder{
    display: flex;
    flex-direction: row;
}

.boutonInterest{
    margin-left: 10vh;
    height: 60vh;
    width: 60vh;
    background-color: #D9D9D9;
    border-radius: 50px;
    color: black;
    margin-right: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.infosPrixCheveux,.infosPrixBarbe,.infosPrixSpecial{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

hr{
    border-width: .5vh;
    opacity: 1;
}

.titleAbove{
    font-size: 3rem;
}

price{
    font-size: 4rem;
}

.titleInterested{
    font-size: 5rem;
}

.interest{
    border: none;
    background-color: #313131;
    color: #D4AF37;
    border-radius: 50px;
    width: 35vh;
    height: 10vh;
    font-size: 2rem;
}

.dot{
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: #D4AF37;
}


@media (max-width: 1000px) {
    .prestationsCards{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        height: 300vh;
        margin-bottom: 15vh;
    }
    .cartePrestation{
        height: 85vh;
        width: 90vw;
    }
    .presentationText {
        width: 45vw;
        height: 65vh;
    }
    .premiumText {
        width: 88vw;
    }

    .tarifs,.allUnder{
        height: 320vh;
        display: flex;
        flex-direction: column;
    }
    .tarifsCheveux{
        transform: rotate(90deg);
        width: 80vh;
        margin-top: 40vh;
        margin-left: -12.7vh;
        margin-bottom: 30vh;
    }
    .tarifsBarbe,.tarifsSpecial{
        transform: rotate(90deg);
        width: 50vh;
        margin-top: 20vh;
        margin-left: 0;
        margin-bottom: 30vh;
    }

    .individualPrice{
        transform: rotate(-90deg);
    }
    .boutonInterest {
        margin-left: 0;
        height: 40vh;
        width: 40vh;
    }

}